<div class="contents row">
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweet", locals: { tweet: tweet } %>
  <% end %>
  <%= paginate(@tweets) %>
</div>

<div class="side_bar_upper">
  <%= link_to 'ラーメン店検索', 'https://tabelog.com/rstLst/ramen/' %>
</div>

<div class="side_bar_lower">
  <%= link_to 'ラーメンランキング', 'https://tabelog.com/rstLst/ramen/?SrtT=rt&Srt=D&sort_mode=1' %>
</div>
